@import 'https://fonts.google.com/?selection.family=Raleway:100,300,400';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 700px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

nav {
    background: #00000070;
}

nav ul {
    display: flex;
    list-style: none;
    width: 85%;
    margin: 0 auto;
}

nav li {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

nav li a {
    text-decoration: none;
    color: #fff;
    border-top: 3px solid transparent;
    height: 50px;
    line-height: 44px;
    padding: 0 20px;
    display: block;
}
nav li a:hover {
    border-top: 3px solid #ea0000;
}

h1.titulo {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 400;
    margin-top: 500px;
    margin-left: 9%;
}

